

.eventosPrevios {
  
  width: 20rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #fefefe;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  box-shadow: 0px 8px 24px 0px rgba(63, 63, 63, 0.25);
}
.mt-5 {
  margin-top: 20px;
}
.OrdenarItem{
  display: flex;
  gap: 2vw;
  overflow-x: scroll;
}
.titleEventos {
  top: 0;
  position: absolute;
  width: 19vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 .5vw;
  align-items: center;
}
.imgEventos {
  position: relative;
  width: 20rem;
  flex-shrink: 0;
  background: linear-gradient(
      178deg,
      rgba(0, 0, 0, 0.3) -20.26%,
      rgba(0, 0, 0, 0) 46.85%
    ),
}
.ImgFondoEventos{
    width: 100%;
    height: 475px;
}




.paddinIcono {
  cursor: pointer;
  padding: 0.3vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background: var(--neutral-blanco, #fcf1f4);
}
.BtnEditarEvento {
  width: 100%;
  height: 100%;
}
.titleDejarSoltar {
  width: 7rem;
  color: var(--neutral-blanco, #fcf1f4);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.informacionEvenetosMain{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: .5vw 1vw;
}

.fechaInicio {
  word-wrap: break-word;
  display: flex;
  gap: 0.5vw;
  width: 18vw;
}
.titleMainEvento {
  word-wrap: break-word;
  margin: 0;
  color: #979797;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.DescripcionMainEvento {
  word-wrap: break-word;
  width: 14.6vw;
  margin: 0;
  color: #777;

  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 780px) {
}
@media (max-width: 450px) {
  .titleEventos {
   
    width: 70vw;
    padding-left: 3vw;
  }
  .informacionEvenetosMain{
    width: 50vw;
  }
  .fechaInicio{
    width: 50vw;
  }
  .DescripcionMainEvento {
    width: 70vw;
  }
  .paddinIcono{
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .DescripcionMainEvento{
    width: 50vw;
  }
  .BtnEditarEvento{
    width: 5vw;
  }
}