

.CoachingInternacional{
    background-color: white;
}
.containerInnformacion1{
    display: flex;
    padding: 3vw 7vw;
}
.contseccionn1  {
    font-size: 2vw;
}

.containerimg2{
    width: 90vw;
    margin-right: 4vw;
}
.containerInnformacion2 .parrafo,
.contseccionn1 .parrafo{
    font-size: 1.5vw;
    text-align: justify;
    margin-bottom: 1vw;
}

.containerImg1{
    margin-top: 6vw;
    width: 85vw;
    display: flex;
    justify-content: center;
}
.parrafoSpan{
    font-size: 1.7vw;
    margin: 0;
    display: contents;
}

.imgInternacional{
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
}
.testimonio{
    display: flex;
    flex-direction: column;
    width: 90vw;
    display: flex;
    justify-content: center;
}
.titletestimonio{
    margin-bottom: 2vw;
    text-align: center;
    font-size: 2.5vw;
}
.infotestimonios{
    display: flex;
}
.containerInnformacion2  .info{
    color: #cf1348;
    font-size: 1.3vw;
    font-weight: 800;
}
.imgBienertar{
    width: 100vw;
    margin-right: 4vw;
}
.imgBienertar{
    width: 100%;
    height: 100%;
    border-radius: .4vw;
}
.containerInnformacion2{
    padding: 3vw 7vw;
    font-size: 1.7vw;
}
.textFormulario{
    font-size: 1.3vw;
}

@media (max-width: 780px){
    .contseccionn1  {
        font-size: 3.2vw;
    }
    .containerInnformacion1{
        flex-direction: column-reverse;
        padding: 5vw;
    }
    .containerimg2{
        width: 85vw;
    }
    .contseccionn1 .parrafo,
    .containerInnformacion2 .parrafo{
        font-size: 2.4vw;
    }
    .parrafoSpan{
        font-size: 2.2vw;
    }
    .autorParrafo{
        font-size: 2.2vw;
    }
    .containerInnformacion2{
        font-size: 2.5vw;
    }
    .titletestimonio{
        font-size: 5vw;
    }
    .textFormulario{
        font-size: 2.5vw;
    }
    .infotestimonios{
        flex-direction: column;
    }

}
@media (max-width: 450px){
    .contseccionn1  {
        font-size: 4vw;
    }
    .containerInnformacion1{
        flex-direction: column-reverse;
        padding: 5vw;
    }
    .containerimg2{
        width: 85vw;
    }
    .contseccionn1 .parrafo,
    .containerInnformacion2 .parrafo{
        font-size: 4vw;
    }

    .containerInnformacion2{
        font-size: 5vw;
        padding: 3vw;
    }
    .textFormulario{
        font-size: 5vw;
    }
    .infotestimonios{
        flex-direction: column;
    }
    .titletestimonio{
        font-size: 7vw;
    }
    .parrafoSpan{
        font-size: 5vw;
    }
    .autorParrafo{
        font-size: 5vw;
    }
}