.BlogBienestar {
  top: 0;
  display: flex;
  position: absolute;
  background-color: #fcf1f4;
  width: 100vw;
  height: 100vh;
}

.containerBlogBienestar{
  width: 90vw;
}
.editordeLibro{
  width: 80vw;
  margin-top: 2vw;
  padding-left: 3vw;
  padding-top: 4vw;
  display: flex;
  gap: 1.5vw;
  overflow-x: auto;
  max-width: 80vw;
}

.editordeLibro::-webkit-scrollbar {
  width: 0px; /* Ancho del scrollbar */
}

.editordeLibro::-webkit-scrollbar-thumb {
  background-color: #88888800; /* Color del pulgar */
  opacity: 0.1;
}

.editordeLibro::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Color de la pista del scrollbar */
}