.BlogBienestar {
  top: 0;
  display: flex;
  position: absolute;
  background-color: #fcf1f4;
  width: 100vw;
  height: 100vh;
}

.containerBlogBienestar{
  width: 90vw;
}
.editordeLibro{
  width: 80vw;
  margin-top: 2vw;
  padding-left: 3vw;
}