@import url(../../../src/fonts.css);

*{
  font-family: sans-serif;
}

.Footer {
  background-color: white;
  color: #cf1348;
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: 0.5vw 5vw 1vw 2vw;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}
.contTablet {
  display: flex;
}
.containerRight {
  margin-right: 19vw;
}
.diseño{
  color: white;
}
.titleFooter {
  font-size: 1.3vw;
  margin-bottom: 0.5vw;
}

.subtitlefooter {
  margin-bottom: 0.5vw;
  display: flex;
  align-items: center;
}

.whatsapp {
  margin-right: 0.5vw;
  width: 1.7vw;
  height: 1.7vw;
}

.enlaceFooter {
  text-decoration: none;
  color: #cf1348;
  font-size: 1.1vw;
  word-spacing: 5px;
}
/* 
.span1 {
  width: 5.5vw;
  height: 0.3vh;
  background-color: #cf1348;
}

.span2 {
  width: 8vw;
  height: 0.3vh;
  background-color: #cf1348;
}

.span3 {
  width: 8.5vw;
  height: 0.3vh;
  background-color: #cf1348;
}

.span4 {
  width: 6vw;
  height: 0.3vh;
  background-color: #cf1348;
}

.span5 {
  width: 12vw;
  height: 0.3vh;
  background-color: #cf1348;
}

.span6 {
  width: 9.2vw;
  height: 0.3vh;
  background-color: #cf1348;
}

.span7 {
  width: 4.5vw;
  height: 0.3vh;
  background-color: #cf1348;
} */

.correo {
  margin-bottom: 0.2vw;
  font-size: 1.1vw;
  word-spacing: 5px;
}

.input-group {
  position: relative;
}

.input1 {
  border: solid 2px #cf1348;
  width: 18vw;
  height: 4.5vh;
  border-radius: 0.5rem;
  background: none;
  padding-left: 10px;
  font-size: 1rem;
  color: black;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  font-size: 1.1rem;
  position: absolute;
  left: 6px;
  color: black;
  padding: 0px 10px;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(0.7rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  word-spacing: 7px;
}

/* .input:focus,
input:valid {
  outline: none;
  border: 2px solid #cf1348;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  background-color: white;
  color: #cf1348;
  font-size: 1rem;
  word-spacing: 0px;
} */

.buttonFooter {
  border: none;
  margin-top: 2.5vw;
  background-color: #cf1348;
  border-radius: 0.3vw;
  padding: 0.5vw 2.3vw;
  cursor: pointer;
  font-size: 1.1vw;
  color: white;
}
.textFooteer{
  text-align: center;
  font-size: 1vw;
  color: white;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5vw;
}

.infofooter {
  background-color: #cf1348;
  display: flex;
  /* justify-content: flex-end; */
  border-radius: 0.5vw;
  height: 8vw;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 10px;
}

.redes {
  display: flex;
  justify-content: center;
}

.socialRed {
  width: 35vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whats {
  width: 27vw;
  display: flex;
  position: fixed;
  z-index: 999999999999999999999999;
  bottom: 1.5vw;
  right: 5vw;
  justify-content: flex-end;
  align-items: center;
}

.icon-red {
  width: 7vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img {
  width: 1.7vw;
}

.img1 {
  width: 2.5vw;
}
.img2 {
  width: 2.1vw;
}

@media (max-width: 780px) {
  .container1 {
    flex-direction: column;
    align-items: center;
  }
  .titleFooter {
    font-size: 3.5vw;
  }
  .enlaceFooter {
    font-size: 2.5vw;
  }
  .correo {
    font-size: 2.3vw;
  }
  .whatsapp {
    width: 2.5vw;
    height: 2.5vw;
  }
  .input1 {
    width: 25vw;
  }
  .user-label {
    font-size: 1.7vw;
  }
  .containerLeft {
    width: 68vw;
  }
  .buttonFooter {
    font-size: 3vw;
  }
  .redes {
    width: 90vw;
  }

  .socialRed {
    width: 60vw;
  }
  .whats {
    width: 18vw;
  }
  .img {
    width: 4vw;
  }

  .img1 {
    width: 4vw;
  }
  .span1 {
    width: 13vw;
  }

  .span2 {
    width: 15vw;
  }

  .span3 {
    width: 14vw;
  }

  .span4 {
    width: 15vw;
  }

  .span5 {
    width: 20vw;
  }

  .span6 {
    width: 19vw;
  }

  .span7 {
    width: 10vw;
  }
}

@media (max-width: 450px) {
  .container1 {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .contTablet {
    flex-direction: column;
    width: 90vw;
  }
  .containerRight{
    margin-bottom: 5vw;
  }
  .containerCenter{
    margin-bottom: 7vw;
  }
  .titleFooter {
    font-size: 5vw;
  }

  .infofooter {
    margin-top: 7vw;
    height: 15vw;
  }
  .enlaceFooter {
    font-size: 4vw;
  }
  .correo {
    font-size: 5vw;
    margin-bottom: 3vw;
  }
  .whatsapp {
    width: 5vw;
    height: 5vw;
  }
  .input1 {
    width: 80vw;
  }
  .user-label {
    font-size: 4vw;
  }
  .containerLeft {
    width: 90vw;
  }
  .buttonFooter {
    font-size: 5vw;
  }
  .redes {
    width: 90vw;
  }

  .span1 {
    width: 23vw;
  }

  .span2 {
    width: 30vw;
  }

  .span3 {
    width: 29vw;
  }

  .span4 {
    width: 21vw;
  }

  .span5 {
    width: 35vw;
  }

  .span6 {
    width: 37vw;
  }

  .span7 {
    width: 15vw;
  }

  .socialRed {
    width: 60vw;
  }
  .whats {
    width: 18vw;
  }
  .img {
    width: 8vw;
  }

  .img1 {
    width: 8vw;
  }

  
}



.red {

}


@media (max-width: 982px) {
  .infofooter {
    height: 120px;
  }
  .textFooteer {
    font-size: larger;
  }
}

@media (max-width: 750px) {
  .infofooter {
    height: 120px;
  }
  .textFooteer {
    font-size: larger;
  }
}