.formularioEspaciosBienestar {
  background-color: #fcf1f4;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
}
.contenidoFormEspaciosBienestar {
  width: 100vw;
  height: 100vh;
}
.tituloFormEspaciosBienestar{

 width: 80%;
 margin: 0 auto;

}
.formEspaciosBienestar {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5%;
  padding-left: 10vw;
  position: relative;
}
.inputsFormEspaciosBienestar {
  display: flex;
  height: 3rem;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.59181rem;
  border: 0.592px solid #bdbdbd;
  background: rgba(242, 242, 242, 0.4);
  margin-bottom: 15px;
  font-size: 1.5vw;
}
.restInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.labelsEspaciosBienestar {
  color:  #828282 !important;
  font-feature-settings: "clig" off, "liga" off !important;
  font-size: 1.03569rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.33163rem !important;
  letter-spacing: 0.0185rem !important;
  margin-bottom: 15px;
}

.GuardarEspaciosBienestar{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 3vw;
  padding-bottom: 3vw;
}
.btnGuardarEspaciosBienestarAdmin{
  text-decoration: none;
  padding: 1.1vw 2vw;
  color: white;
  border-radius: 2.5735rem;
background: var(--primario-principal, #CF1348);
}