.BlogPost {
  background-color: rgb(216, 215, 215);
}

.infoBlogPost{
  width: 98vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 780px){
  .infoBlogPost{
    justify-content: space-evenly;
  }
}
@media (max-width: 450px){
  .infoBlogPost{
    justify-content: space-between;
  }
}