.BlogPost {
  
  background-color: rgb(255, 255, 255);
}

.BookItem {
  padding: 2vw 1vw;
  display: flex;
  gap: 20vw;
  margin: 0;
  height: 30vw;
  display: flex;
  align-items: center;
}
.carduser {

  
  overflow-y: auto;
  max-width: 32vw;
  width: 25vw;
  height: 24vw;
  border-radius: 2vw;
  border: 1px solid rgb(194, 194, 194);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  padding: 1vw;
  text-decoration: none;
}
.carduser::-webkit-scrollbar {
  width: thin;
}

.carduser::-webkit-scrollbar-thumb {
  background-color: transparent;
  opacity: 0.5;
}

.ItemBookUser {
  width: 40vw;
}
.EnlacesItem {
  text-decoration: none;
  color: #38272d;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.UlLista {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.demoPage {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 95, 95);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 40vw;
}
.port {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.marco {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96%;
  height: 96%;
  padding: 1vw 0;
}
.titlePortal h3 {
  font-size: 1.1vw;
}
.titlePortal h4 {
  font-size: 1vw;
  margin: 0;
  padding-bottom: .5vw;
}
.titlePortal p {
  font-size: 1vw;
  margin: 0;
}
.titlePortal {
  width: 90%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.titlePortal2 {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 253, 253, 0.726);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
}

.soft {
  display: block;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 480px;
  transform-origin: 0px 0px;
  clip-path: polygon(
    0px 0px,
    -1.42109e-14px 219.49px,
    230.101px 480px,
    0% 100%
  );
  transform: translate3d(1017.7px, 200.671px, 0px) rotate(1.44316rad);
}

.ctOverlayBook {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ctOverlayBook .FinalLibro{
  padding-top: 22vw;
  font-size: 1.1vw;
}

.ctOverlayBook h1 {
  text-align: center;
  font-size: 3vw;
  font-family: "PT-Script-Monsoon";
  color: #CF1348;
  margin: 0;
  padding-top: 1vw;
}
.ctOverlayBook h3 {
  margin: 0;
  text-align: center;
  font-size: 2vw;
  font-family: "PT-Script-Monsoon";
  color: #CF1348;
  padding-bottom: 8vw;
}
.ctOverlayBook p {
  font-size: 1vw;
  text-align: center;
  font-family: "PT-Script-Monsoon";
  color: #CF1348;
}

.imgLibro {
  width: 100%;
}
.imgLibro img {
  width: 100%;
  height: 100%;
}
.flipbook {
  display: flex;
  justify-content: center;
  padding: 3vw;
}

@media (max-width: 780px) {
  .BookItem {
    
    gap: 5vw;
  }
  
}
@media (max-width: 450px) {
  .BookItem {
    flex-direction: column;
    gap: 0vw;
    padding: 5vw 0;
  }
}