.FormDefault {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.FormDefault div.formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 40vw;
}

.FormDefault div.formRow.rowConact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid black; */
}

.FormDefault div.formRow .Label {
    font-size: 1.2vw;
    color: gray;
    margin-bottom: 2px;
}

.FormDefault div.formRow input,
.FormDefault div.formRow textarea {
    flex: 1;
    font-size: 1.2vw;
    padding: 0.5vw;
    border-radius: 5px;
    padding-left: 25px;
    border: 1px solid gray;
}


@media (max-width: 780px) {
    
    .FormDefault div.formRow .Label {
        font-size: 1.6vw;
    }

    .FormDefault div.formRow input,
    .FormDefault div.formRow textarea {
        font-size: 1.8vw;
        border-radius: 5px;
        padding-left: 8px;
    }
}

@media (max-width: 450px) {

    .FormDefault div.formRow {
        margin-bottom: 20px;
        width: 95vw;
    }

    .FormDefault div.formRow .Label {
        font-size: 4vw;

    }

    .FormDefault div.formRow input,
    .FormDefault div.formRow textarea {
        font-size: 5vw;
        padding-left: 9px;
    }
}