/* styles.css */

/* Estilos para el contenedor del formulario */
.FormAgenda {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  /* Estilos para el título */
  .FormAgenda h1 {
    text-align: center; 
    font-size: 24px;
    margin: 0px;
    color: #cf1348;
  }
  
  /* Estilos para los campos de entrada y etiquetas */
  .FormAgenda label {
    display: block;
    margin-bottom: 5px;
  }
  
  .FormAgenda input[type="text"],
  .FormAgenda input[type="email"],
  .FormAgenda input[type="tel"],
  .FormAgenda select,
  .FormAgenda input[type="datetime-local"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para el botón de guardar */
  
  .boton{
    color: #FFF;
    border: 2px solid #CF1348;
    border-radius: 0px;
    padding: 15px 20px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #CF1348;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    color: #CF1348;
  }
  

  .boton:hover {
    box-shadow: inset 400px 50px 0 0 #CF1348;
    color: #f9f9f9;
  }
  
  @media (max-width: 780px){
    .FormAgenda {
      width: 80%;
      margin: 0 auto;
    }
  }