.ContainerColaboradores {
  width: 20rem;
  border-radius: 1.25rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  padding: 1vw;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
}
.IconoEditarColaboradores {
  width: 18vw;
  display: flex;
  justify-content: right;
  gap: 0.7vw;
  align-items: center;
}
.imgUsuarioColaboradores {
  border-radius: 5vw;
  width: 8vw;
  height: 8vw;
}
.IconEditarColaboradores {
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
}
.TitleBtnEditarColaborador {
  color: var(--primario-principal, #cf1348);
  cursor: pointer;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.NombreCargo {
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NombreColaboradorAdmin {
  color: var(--neutral-gray, #38272d);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1.5vw 0 0 0;
}
.CargocolaboradorAdmin {
  margin: 0;
  color: #777;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.TitleCargoColaborador {
  color: #777;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.DescripcionColaboradores {
  width: 19vw;
  color: #777;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0.9vw 0 0 0;
}
.ParrafoDescripcion {
  width: 19vw;
  color: #777;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.4vw 0 0 0;
}
.EnlaceContactoColaborador {
  text-decoration: none;
  width: 19vw;
}
.EnlaceContactoColaborador {

  word-wrap: break-word;
  width: 19vw;
  cursor: pointer;
  color: #979797;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.TitleContactoColaborador {
  width: 19vw;
  color: #777;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0.9vw 0 0 0;
}


@media (max-width: 780px) {
}
@media (max-width: 450px) {
  .ContainerColaboradores{
    margin-top: 20vw;
    width: 70rem;
  }
  .IconoEditarColaboradores{
    width: 70vw;
  }
  .NombreCargo{
    width: 70vw;
  }
  .DescripcionColaboradores{
    width: 70vw;
  }
  .ParrafoDescripcion{
    width: 70vw;
  }
  .EnlaceContactoColaborador{
    width: 70vw;
  }
  
}