.ExperienciasDeBienestar {
    background: url("./src/assets/background/rf.jpg") no-repeat center/cover ;
    max-height: 100vh;
    overflow-y: auto;
}

.ExperienciasDeBienestar .ctMain {
    display: flex;
    flex-direction: column;
}


.ExperienciasDeBienestar .ctMain .ctTitle {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 64px;
    padding: 70px 0px ;
    background-color: white;
}


.ExperienciasDeBienestar .ctDescription{
    background-color: white;
    text-align: center;
    font-size: 36px;
    padding:  70px 0px;
}

.ExperienciasDeBienestar .ctCards{
    padding: 0px 200px;
    background-color: white;    
    display: grid;
    grid-template-columns: repeat(3,  1fr );
}