*{

  font-family: sans-serif;
}
.ExperienciasDeBienestar {
  background: url("./src/assets/background/rf.jpg") no-repeat center/cover;
  max-height: 100vh;
  overflow-y: auto;
}

.ExperienciasDeBienestar .ctMain {
  display: flex;
  flex-direction: column;
}

.ExperienciasDeBienestar .ctMain .ctTitle {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 2.3vw;
  padding: 70px 0px;
  background-color: white;
  font-family: 'PT-Script-Monsoon';
}

.ExperienciasDeBienestar .ctDescription {
  background-color: white;
  text-align: center;
  font-size: 1.7rem;
  padding: 70px 0px;
  font-family: 'PT-Script-Monsoon';
}

.ExperienciasDeBienestar .ctCards {
  padding: 0px 200px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ExperienciasDeBienestar .ctAgenda {
  height: 120vh;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .ExperienciasDeBienestar .ctAgenda {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }
}
.ctContentAgenda {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  .ctContentAgenda {
    flex-direction: initial;
    justify-content: space-between;
  }
}

.ctCalendario {
  width: 100%;
  height: 50%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.ctFormulario {
  width: 90%;
  height: 50%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .ctCalendario {
    width: 70%;
    height: 100%;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .ctFormulario {
    width: 25%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .ExperienciasDeBienestar .ctMain .ctTitle {
    font-size: 3vw;
    padding: 70px 0px;
  }

  .ExperienciasDeBienestar .ctCards {
    padding: 0px 100px;
  }
}

@media (max-width: 780px) {
  .ExperienciasDeBienestar .ctCards {
    padding: 0px 20px;
  }
}

@media (max-width: 450px) {
  .ExperienciasDeBienestar .ctMain .ctTitle {
    font-size: 7vw;
    padding: 30px 0px;
  }
  .ExperienciasDeBienestar .ctCards {
    padding: 0px 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.ctContentBoton {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonRetiros {
  color: #fff;
  border: 2px solid #cf1348;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #cf1348;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  color: #cf1348;
}

.diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #cf1348;
  color: #f9f9f9;
}
