.ExperienciasDeBienestar {
    background: url("./src/assets/background/rf.jpg") no-repeat center/cover ;
    max-height: 100vh;
    overflow-y: auto;
}

.ExperienciasDeBienestar .ctMain {
    display: flex;
    flex-direction: column;
}


.ExperienciasDeBienestar .ctMain .ctTitle {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 64px;
    padding: 70px 0px ;
    background-color: white;
}