.BlogInfo{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    margin: 1vw;
}
.ctBlogInf{
    padding: 1vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.imgInfBlog{
    width: 30vw;
}
.dayTitle{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.date{
    display: flex;
}
.date .month{
    margin-right: .2vw;
    font-size: 2vw;
    color: gray;
}
.date .day{
    color: gray;
    font-size: 2vw;
    margin-right: 1vw;
}
.data .year{
    color: gray;
    font-size: 2vw;
    margin-right: 1vw;
}
.titleInfo{
    font-size: 1.3vw;
}
.textInfo{
    font-size: 1.2vw;
}


@media (max-width: 780px){
    .BlogInfo{
        width: 45vw;
    }
    .ctBlogInf{
        width: 44vw;
    }
    .imgInfBlog{
        width: 44vw;
    }

    .date .month{
        font-size: 2vw;
    }
    .date .day{
        font-size: 2vw;
    }
    .titleInfo{
        font-size: 1.8vw;
    }
    .textInfo{
        font-size: 2vw;
    }
    
    .btnInfo{
        width: 20vw;
        font-size: 1.8vw;
    }
}
@media (max-width: 450px) {
    
    .ctBlogInf{
        width: 80vw;
        padding: 3vw;
    }
    .imgInfBlog{
        width: 80vw;
    }

    .date .month{
        font-size: 4vw;
    }
    .date .day{
        font-size: 4vw;
    }
    .titleInfo{
        font-size: 3.5vw;
    }
    .textInfo{
        font-size: 3.5vw;
    }
    
    .btnInfo{
        width: auto;
        font-size: 4vw;
    }
}