.Coaching{
    background-color: white;
}


.Coaching .ctTitle1{
    text-align: center;
    font-size: 2vw;
}

.Coaching .ctMain{
    display: flex;
}


.Coaching .ctMain > div{
    flex: 1;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Coaching .ctMain > div.timeLineContainer{
    flex-direction: column;
    justify-content: flex-start;
}
p{
    font-size: 1.5rem;
    margin-bottom: -4px;
}

.Coaching .ctMain > div > img.Picture{
    width: 100%;
}

.Coaching .ctMain > div .css-18y2uza-MuiTypography-root-MuiTimelineContent-root{
    text-align: justify;
}

@media (max-width: 1024px){

    p{
        font-size: 1.3rem;
    }
}

@media (max-width: 780px){
    
    .Coaching .ctMain{
        display: flex;
        flex-direction: column;
    }
    .Coaching .ctMain > div > img.Picture{
        width: 50%;
    }
    p{
        font-size: 1rem;
    }
    

}

@media (max-width: 450px){
    .Coaching .ctTitle1{
        font-size: 5vw;
    }
    .Coaching .ctMain > div > img.Picture{
        width: 90%;
    }
    p{
        font-size: .8rem;
    }
}




