.ComoYDonde{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 5vw;
}


.ComoYDonde .ct1{
    
    font-size: 1.6vw;
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;

}

.ComoYDonde .ct2{
    
    font-size: 1.6vw;
    /* border: 1px solid black; */
    margin-bottom: 30px;
}
.ctList{
    
    font-size: 1.3vw;
}

.ComoYDonde .nlink{
    cursor: pointer;
    margin-bottom: 15px;
    margin-inline: 5px;
    color: #cf1348;
}

.ComoYDonde .nlink:hover{
    text-decoration: underline;
}


@media (max-width: 780px) {
    .ComoYDonde .ct1{
        font-size: 27px;
        margin-bottom: 60px;
    }
}

@media (max-width: 450px) {
    .ComoYDonde .ct1{
        font-size: 19px;
        margin-bottom: 60px;    
    }
}





