.VisualTestMain {
  margin-top: 1vw;
  width: 90%;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titletext {
  display: flex;
  width: 90%;
  padding-left: 2.5vw;
  align-items: center;
  justify-content: space-between;
}
.titlephoto {
  color: #6b6b6b;
  font-family: Montserrat;
  font-size: 1.45331rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.containerdeTestimoniosAdmin {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
