.Carousel{
    display: grid;   
    grid-template-columns: 1fr 1fr  ;    
}


.Carousel > .ctTextController , .Carousel > .ctPicture{
    /* border: 1px solid black; */
    position: relative;
}

.Carousel > .ctTextController > .btnCarousel{
    border: 2px solid rgb(164, 161, 161);;
    width: fit-content;
    padding: 15px;
    position: absolute;
    margin: 15px;
    border-radius: 9999px;
    width: 64px;
    height: 64px;
    font-size: 30px;
    cursor: pointer; 
    transition: all 0.6s ;

}

.Carousel > .ctTextController > .btnCarousel  * {
    stroke: rgb(164, 161, 161);
    transition: all 0.6s ;
}

.Carousel > .ctTextController > .btnCarousel:hover  * {
    stroke: white;
}

.Carousel > .ctTextController > .btnCarousel:hover{
    border: 1px solid white;
}


.Carousel > .ctTextController > .btnCarousel:nth-child(2){
    right: 0;
}

.Carousel > .ctPicture {
    position: relative;
    overflow: hidden;
    height: 30rem;
}

.Carousel > .ctPicture > * {
    position: absolute;
    height:  30rem;
    width: 50rem  ;
    object-fit: cover;
    object-position: center;
    
}

.Carousel .slide-out {
    /*
    cubic-bezier(0.165, 0.84, 0.44, 1)
    cubic-bezier(0.44, 0, 0.84, 0.165)
    */
    animation: slide-out 320ms ease-in;
}

.Carousel .slide-in {
    animation: slide-in 280ms ease-out;
}



@keyframes slide-out {
    0%{
    }
    100%{
        transform: translateX(-50rem);
    }
}

@keyframes slide-in {
    
    0%{
        transform: translateX(-50rem);
    }
    100%{
        transform: translateX(0);
    }
}


.Carousel .ctTextController {
    background-color:  #FF5A5A ; 
    color: white;
}

.Carousel .ctTextController > h2{
    /* border: 1px solid black; */
    margin-top: auto;
    margin-bottom: auto ;
    height: 100% ;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
