@import "../../fonts.css";
:root{
    --bRadius: 15px
}


.Carousel{
    display: grid;   
    grid-template-columns: 1fr 1fr  ;    

    /* border: 10px solid black; */
    border-radius: var(--bRadius);
}


.Carousel > .ctTextController , .Carousel > .ctPicture{
    position: relative;
    
}

.Carousel > .ctTextController > .btnCarousel{
    border: 2px solid rgb(164, 161, 161);
    width: fit-content;
    padding: 15px;
    position: absolute;
    margin: 15px;
    border-radius: 9999px;
    width: 64px;
    height: 64px;
    font-size: 30px;
    cursor: pointer; 
    transition: all 0.6s ;

}

.Carousel > .ctTextController > .btnCarousel  * {
    stroke: #Cf1348;
    transition: all 0.6s ;
}

.Carousel > .ctTextController > .btnCarousel:hover  * {
    stroke: rgb(164, 161, 161);
}

.Carousel > .ctTextController > .btnCarousel:hover{
    border: 1px solid white;
}


.Carousel > .ctTextController > .btnCarousel:nth-child(2){
    right: 0;
}

.Carousel > .ctPicture {
    position: relative;
    overflow: hidden;
    height: 30vw;
    border-radius: var(--bRadius) 0px 0px  var(--bRadius);
}

.Carousel > .ctPicture > div > * {
    position: absolute;
    height:  100%;
    width: 100%  ;
    object-fit: cover;
    object-position: center;
    
}

.Carousel > .ctPicture > div > .Autor{
    background-color: rgba(0, 0, 0, 0.189);
    z-index: 0;
    width: min-content;
    height: min-content;
    color: white;
    padding: 0.3rem;
    border-radius: 15px;
    right: 10px;
    bottom: 10px;
    font-family: 'Great vibes', cursive;
    font-size: 2vw;

}

.Carousel > .ctPicture > div:last-child > .Autor{
    z-index: 3;
}



.Carousel .slide-out {
    /*
    cubic-bezier(0.165, 0.84, 0.44, 1)
    cubic-bezier(0.44, 0, 0.84, 0.165)
    */
    /* animation: slide-out 320ms ease-in; */
    animation: slide-out 320ms ease-in;
}

.Carousel .slide-in {
    animation: slide-in 280ms ease-out;
}



@keyframes slide-out {
    0%{
    }
    100%{
        transform: translateX(-50rem);
    }
}

@keyframes slide-in {
    
    0%{
        transform: translateX(-50rem);
    }
    100%{
        transform: translateX(0);
    }
}


.Carousel .ctTextController {
    background-color:  white ; 
    color:  #Cf1348;
    border-radius: 0px var(--bRadius)   var(--bRadius) 0px;  
    /* border: 1px solid #Cf1348; */
}

.Carousel .ctTextController > h2{
    box-shadow: 6px 3px 10px rgba(128, 128, 128, 0.5);
    border-radius: 0 20px 20px 0;
    margin-top: auto;
    margin-bottom: auto ;
    height: 100% ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 780px) {
    .Carousel .ctTextController > h2{
        
        margin-top: auto;
        margin-bottom: auto ;
        height: 100% ;
        font-size: 3.5vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Carousel > .ctTextController > .btnCarousel{
        
        width: 51px;
        height: 51px;
        font-size: 17px;
    
    }
    
}

@media (max-width: 450px) {
    .Carousel .ctTextController > h2{
        
        margin-top: auto;
        margin-bottom: auto ;
        height: 100% ;
        font-size: 3.5vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Carousel > .ctTextController > .btnCarousel{
        
        width: 51px;
        height: 51px;
        font-size: 17px;
    
    }
}
