.BtnMas {
  cursor: pointer;
  display: flex;
  width: 5vw;
  height: 5vw;
  justify-content: center;
  align-items: center;
  gap: 1.58088rem;
  flex-shrink: 0;
  border-radius: 7.90444rem;
  background: var(--primario-principal, #cf1348);
}
.ImgColaboradoresAdmin {
  width: 2.5vw;
}
@media (max-width: 780px) {
}
@media (max-width: 450px) {
  .BtnMas {
    width: 15vw;
    height: 15vw;
  }
  .ImgColaboradoresAdmin {
    width: 7vw;
  }
}