.TestimonyBar {
  background-color: white;
  overflow-x: hidden;
  margin-inline: auto;
  width: 80vw;
  margin-block: 3rem;
}

.Testimony {
  flex-basis: 100%;
  margin-inline: 1.2rem;
}

.testimony {
  position: relative;
  background-color: rgb(229, 230, 225);
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.testimony .text{
  height: 10ch;
  overflow: hidden;
  font-size: 1.2rem;
}

.testimony .TestimonyLink {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row-reverse;
}

.testimony .TestimonyLink > div{
  /* border: 1px solid black; */
  text-align: end;
  cursor: pointer;
  width: fit-content;
  color: rgb(234, 97, 97);
}

.testimony .TestimonyLink > div:hover{
  text-decoration: underline;
  color: rgb(240, 76, 76);
}

.testimony::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-top-color: rgb(229, 230, 225);
  border-left-color: rgb(229, 230, 225);
}

.witness {
  display: grid;
  grid-template-columns: 2fr 6fr;
  align-items: start;
}

.witness > * {
  grid-column: 2;
  margin: 0;
}

.witness > img {
  grid-column: 1;
  grid-row: span 2;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.cards {
  display: flex;
  flex-direction: row;
  width: max-content;
  transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttons {
  margin: 1rem auto;
  width: fit-content;
}

.buttons button {
  background-color: rgb(34, 34, 34);
  margin-inline: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttons .current {
  background-color: azure;
}
