.ExperienciasdeMedida{
    background-color: white;
}
.ExperienciasdeMedida .ctMain{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ct{
    width: 90vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.ctPhrase{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
}


.ctphoto{
    width: 40vw;
    display: flex;
    align-items: center;
    margin-bottom: 4vw;
}    
.imgEquip{
    margin-right: 6vw;
    width: 100%;
    height: 100%;
}

.ctFor{
    width: 50vw;
}



@media (max-width: 780px){
    .ctPhrase{
        font-size: 3vw;
    }
    .ctphoto{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vw;
    }    
    .imgEquip{
        margin-right: 0vw;
        width: 70%;
        margin-bottom: 5vw;
    }
    
    .ctFor{
        width: 50vw;
    }
}

@media (max-width: 450px){
    .ctPhrase{
        font-size: 5vw;
        margin-bottom: 7vw;
    }
    .ctphoto{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vw;
    }    
    .imgEquip{
        margin-right: 0vw;
        width: 90%;
        margin-bottom: 5vw;
    }
    
    .ctFor{
        width: 95vw;
    }

}
