.Welcome{
    height: calc(100vh - 103px);
    background-color: rgb(255, 255, 255);
    /* background: url("fondoInicio-1f901e39.jpg") ; */
    background: url("../src//assets/background/inicio\'.jpeg")no-repeat center/cover, url("../assets/inicio\'-9908a0ae.jpeg")no-repeat center/cover;
    background-size: 100% 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Welcome .ctConent{
    width: 70%;    
}

.Welcome .ctConent .title{
    background-color: rgba(0, 0, 0, 0.443);
    padding: 30px;
    border-radius: 10px ; 
    color: white;
    font-size: 64px;
}

.Welcome .ctConent .ctButtons {
    display: flex;
    margin-top: 20px;
}

@media (max-width: 780px){
    .Welcome{
        background-size: cover;
    }
}

