.Navbar a {
  color: inherit;
  text-decoration: none;
}

.Navbar {
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "Roboto Flex", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding-inline: 9.5rem 1rem;
}

.Navbar > .navigation {
  display: flex;
  flex-direction: row;
}

.Navbar > .navigation > * {
  margin-inline: 1rem;
}

.Navbar > .navigation > *::after {
  content: "";
  display: block;
  width: 0px;
  height: 0.2rem;
  background-color: #bec0b7;
  border-radius: 0.3rem;
  transition: width 600ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Navbar > .navigation > *:hover::after,
.Navbar > .navigation > *:focus-within::after {
  width: 1.2rem;
}

.Navbar > .contact {
  display: flex;
  align-items: center;
  color: #222222;
  font-weight: 500;
  padding: 0.75rem 2rem;
  margin-inline: 3rem;
  border: 1px solid #222222;
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Navbar > .contact:hover {
  background-color: #adb5bd;
  border: 1px solid #adb5bd;
}

.Navbar > .contact::after {
  display: none;
}

.Navbar > .contact > p {
  margin: 0;
}

.Navbar > .contact > .comment-icon {
  font-size: 1rem;
  padding-left: 0.4rem;
}
