.CoachingBienestar{
    background-color: white;
    
}
.containerInnformacion1{
    display: flex;
    padding: 3vw 7vw;
}
.contseccionn1  {
    font-size: 2vw;
}
.contseccionn1 .parrafo{
    font-size: 1vw;
    text-align: justify; 
}
.contseccionn1 a{
    text-decoration: none;
    color: blue;
    font-size: 1.4vw;
}
.containerimg1{
    width: 200vw;
    margin-right: 4vw;
}
.imgBienertar{
    width: 100%;
    height: 100%;

    border-radius: .4vw;
}
.containerInnformacion2 {
    padding: 3vw 7vw;
    
}
.containerInnformacion2{
    font-size: 1.7vw;
}
.textFormulario{
    font-size: 1.3vw;
}

.contseccionn1 .nlink{
    color: #cf1348;
    cursor: pointer;
}

.contseccionn1 .nlink:hover{
    text-decoration: underline;
}

.ct3.containerInnformacion2 .textFormulario{
    font-size: 1.5rem;
    font-weight: 800;
}

.ct3.containerInnformacion2 .ctForm{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.ct3.containerInnformacion2 .ctForm img{
    margin: 20px;
    width: 35vw;
}


@media (max-width: 780px){
    .contseccionn1  {
        font-size: 3.2vw;
    }
    .containerInnformacion1{
        flex-direction: column-reverse;
        padding: 5vw;
    }
    .containerimg1{
        width: 85vw;
    }
    .contseccionn1 .parrafo{
        font-size: 2.4vw;
    }

    .containerInnformacion2{
        font-size: 2.5vw;
    }
    .textFormulario{
        font-size: 2.5vw;
    }
    
    .ct3.containerInnformacion2 .ctForm img{
        margin: 20px;
        width: 45vw;
    }
}

@media (max-width: 450px){
    .contseccionn1  {
        font-size: 4vw;
    }
    .containerInnformacion1{
        flex-direction: column-reverse;
        padding: 5vw;
    }
    .containerimg1{
        width: 85vw;
    }
    .contseccionn1 .parrafo{
        font-size: 4vw;
    }

    .containerInnformacion2{
        font-size: 5vw;
    }
    .textFormulario{
        font-size: 5vw;
    }
    .ct3.containerInnformacion2 .ctForm{
        flex-direction: column;
        
    }
    .ct3.containerInnformacion2 .ctForm img{
        margin: 20px;
        width: 80vw;
    }
}