@import '../../../src/fonts.css';
.BlogRetiros {
  background-color: rgb(240, 240, 240);
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}
.blog_Retiro {
  position: relative;
  z-index: 1;
  width: 93.5vw;
  max-width: 93.5vw;
  padding: 2vw;
  overflow-x: auto;
  display: flex;
  gap: 2vw;
}

.infoCtRetiro {
  width: 25vw;
  border-radius: .4vw;
  background-color: white;
  margin-bottom: 2vw;
}
.imgRetiro {
  position: relative;
  width: 25vw;
  overflow: hidden;
}
.imgRetiro img {
  width: 100%;
  height: 100%;
}
.cintaCompleto{
  position: absolute;
  margin-top: 2.5vw;
  margin-left: -6.5vw;
  padding: .2vw;
  width: 20vw;
  height: 6vh;
  background-color: #cf1348;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-size: 1.4vw;
  font-family: PT-Script-Monsoon;
  transform: rotate(-45deg);
}
.cintaAplazado{
  position: absolute;
  margin-top: 2.5vw;
  margin-left: -6.5vw;
  padding: .2vw;
  width: 20vw;
  height: 6vh;
  background-color: #FC9627;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-size: 1.4vw;
  font-family: PT-Script-Monsoon;
  transform: rotate(-45deg);
}
.cintaPlazasLimitadas{
  position: absolute;
  margin-top: 2.5vw;
  margin-left: -6.5vw;
  padding: .2vw;
  width: 20vw;
  height: 6vh;
  background-color: green;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-size: 1.1vw;
  font-family: PT-Script-Monsoon;
  transform: rotate(-45deg);
}
.infoRetiro {
  width: 22vw;
  margin: 0;
  padding: 1vw;
}
.titleRetiroUser {
  width: 20vw;
  cursor: pointer;
}
.titleRetiroUser h4 {
  font-size: 1.2vw;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.time_aut {
  display: flex;
  width: 23vw;
  align-items: center;
  justify-content: space-around;
}
.time p {
  font-size: 1vw;
}
.authorRetiro h4 {
  font-size: 1.1vw;
  font-weight: 700;
}
.informacionderetiro {
  width: 100vw;
  height: 100vh;
  border: 5px soild red;
  display: flex;
  align-items: center;
  justify-content: center;
 padding-left: 25vw;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  padding-top: 2vw;
}
@media (max-width: 780px) {
  .blog_Retiro {
    align-items: center;
  }
  .infoCtRetiro {
    width: 40vw;
    margin-bottom: 5vw;
  }
  .imgRetiro {
    width: 40vw;
  }
  
  .imgRetiro img {
    width: 100%;
    height: 100%;
  }
  .infoRetiro {
    width: 38vw;
    margin: 0;
    padding: .5vw;
  }
  .titleRetiro {
    width: 40vw;
  }
  .titleRetiro h4 {
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
  }
  .time_aut {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-around;
  }
  .time p {
    font-size: 2vw;
  }
  .authorRetiro h4 {
    font-size: 2vw;
  }
  .titleRetiro h4 {
    font-size: 3vw;
    margin: 0;
    padding: 0;
  }
  .informacionderetiro {
    padding-top: 9vw;
  }
}
@media (max-width: 450px) {
  .blog_Retiro {
    flex-direction: column;
    align-items: center;
  }
  .infoCtRetiro {
    width: 90vw;
    margin-bottom: 5vw;
  }
  .imgRetiro {
    width: 90vw;
  }
  .imgRetiro img {
    width: 100%;
    height: 100%;
  }
  .infoRetiro {
    width: 90vw;
    margin: 0;
    padding: 3vw;
  }
  .titleRetiro {
    width: 87vw;
  }
  .titleRetiro h4 {
    font-size: 5vw;
    margin: 0;
    padding: 0;
  }
  .time_aut {
    display: flex;
    width: 89vw;
    align-items: center;
    justify-content: space-around;
  }
  .time p {
    font-size: 4vw;
  }
  .authorRetiro h4 {
    font-size: 4vw;
  }
}
