.BlogRetiros{
    background-color: white;
}
  
.BlogInfo > img {
    margin-top: 3vw;
    width: 40%;
}
.date > * {
    font-size: 3vw;
}
.BlogInfo > h1 {
    font-size: 2vw;
    margin: 1vw 0vw;
}
.BlogInfo > * {
    margin: 0;
    font-size: 1.3vw;
  }
  