.rbc-event{
    background-color: #BB0F5B;
}

.rbc-btn-group > button{
    display: none;
}

.rbc-toolbar .rbc-toolbar-label{
    font-size: 25px;
    color: gray;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}