.colaboradores{
  background-color: white;
  padding: 2vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 780px) {
  .colaboradores{
    padding: 6vw;
  }
}

@media (max-width: 450px) {
  .colaboradores{
    padding: 6vw;
  }
}