* {
  font-family: sans-serif;
}
.AboutMe {
  background-color: white;
}

.Contenido {
  display: flex;
  flex-direction: column;
}

.Contenido > div {
  flex: 1;
  padding: 3vw;
}

.AboutMe .title1 {
  font-size: 2vw;
  padding: 0 2vw;
  line-height: 120%;
  text-align: center;
  margin-top: 80px;
}

.containerSobremi_1 {
  display: flex;
  justify-content: center;
}

.containerSobremi_2 {
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid gainsboro;
}

.photo_1 {
  width: 33vw;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.photo_1 p {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #7e7777;
  text-align: end;
  font-size: .90rem;
  
}

.photo_2 {
  width: 32vw;
  display: flex;
  justify-content: end;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photo_3{
  width: 25vw;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.BibliografíaSobreMi{
  width: 20vw;
}
.photo_2 p {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #7e7777;
  text-align: end;
  font-size: .90rem;
}
.infoSobremi_1 {
  width: 45vw;
  background-color: white;
  padding: 2vw;
  padding-left: 0px;
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}
.infoSobremi_1 p{
  background-color: white;
  color: black;
  font-size: 1.5vw;
}
.infoSobremi_2User {
  width: 94%;
  background-color: #cf1348;
  padding: 3vw;
  color: white;
  font-size: 3vw;

  /* mio */
  height: 260px;
  text-align: justify;
}
.infoSobremi_2User p {
  margin-top: 0;
  font-size: 1.5vw;
}

@media (min-width: 464px) {
  .infoSobremi_2 {
    width: 45vw;
    font-size: 2.1vw;
    /* height: 30vh; */
  }
 

}

@media (min-width: 764px) {
  .infoSobremi_2User {
    width: 45vw;
    font-size: 1.4vw;
    /* height: 24vw; */
  }
  .BibliografíaSobreMi{
    width: 29vw;
  }
  .infoSobremi_2User {
    width: 94%;
    background-color: #cf1348;
    padding: 1vw;
    color: white;
    /* height: 18vw; */
  }

}
@media (min-width: 1024px) {
  .infoSobremi_2User {
    width: 45vw;
    font-size: 1.2vw;
    /* height: 19.5vw; */
  }
  
}


.containerSobremi_1 .photo_1 img {
  width: 90%;
  /* height: 90%; */
  border-radius: 0.4vw;
  border: 1px solid lightgray;
}
.containerSobremi_2 .photo_2 img {
  width: 100%;
  border-radius: 0.4vw;
  border: 1px solid lightgray;
}

.photo_3 .BibliografíaSobreMi{
  width: 90%;
  border-radius: 0.4vw;
}
@media (max-width: 780px) {
  .infoSobremi_1 {
    width: 45vw;
    background-color: white;
    padding: 2vw;
    color: black;
    font-size: 1.6vw;
  }
  .photo_3 .BibliografíaSobreMi{
    width: 100%;
    border-radius: 0.4vw;
  }
  

}

@media (max-width: 450px) {
  .AboutMe .title1 {
    font-size: 5vw;
    margin-top: 40px;
  }

  .Contenido .ctLeft p {
    font-size: 4.5vw;
  }
  .Contenido > div.ctRight img {
    width: 90%;
  }

  .containerSobremi_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerSobremi_2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .photo_1 {
    display: flex;
    width: 94vw;
    margin: 5px 0;
    flex-direction: column;
    justify-content: end;
  }

  .photo_2 {
    display: flex;
    width: 94vw;
    margin: 5px 0;
  }
  .photo_3{
  width: 97vw;
  display: flex;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.BibliografíaSobreMi{
  width: 90vw;
}
  .infoSobremi_1 {
    width: 90vw;
    background-color: white;
    padding: 2vw;
    color: black;
    font-size: 3.3vw;
  }
  .containerSobremi_1 .photo_1 img {
    width: 100%;
    height: 100%;
  }
  .containerSobremi_2 .photo_2 img {
    width: 100%;
  }
}



@media (max-width: 800px) {
  .containerSobremi_2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .photo_2 {
    display: flex;
    width: 92vw;
    margin: 5px 0;
  }
  .foto-to-center {
    height: auto;
  }
  .infoSobremi_2User {
    width: 100%;
    height: auto;
  }
}


.foto-to-center {
  height: 260px;
}




@media (min-width: 1028px) and (max-width: 1199px) {
  .foto-to-center {
    height: 220px;
  }
  .infoSobremi_2User {
    height: 220px;
  }
}

@media (min-width: 801px) and (max-width: 1028px) {
  .foto-to-center {
    height: 200px;
  }
  .infoSobremi_2User {
    height: 200px;
  }
}

@media (min-width: 1901px) {
  .foto-to-center {
    height: 400px;
  }
  .infoSobremi_2User {
    height: 400px;
  }
}



@media (max-width: 700px) {
  .foto-to-center {
    height: 350px;
  }
}


@media (max-width: 500px) {
  .foto-to-center {
    height: 300px;
  }
}


@media (max-width: 400px) {
  .foto-to-center {
    height: 220px;
  }
}



@media (max-width: 250px) {
  .foto-to-center {
    height: 150px;
  }
}


@media (max-width: 180px) {
  .foto-to-center {
    height: 120px;
  }
}


@media (max-width: 180px) {
  .foto-to-center {
    height: 120px;
  }
}








@media (max-width: 781px) {
  .sobremidiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoSobremi_1 {
    width: 100%;
  }
  .photo_1 {
    width: 100%;
    margin-left: 0;
  }
  .sobremidiv1 .photo_1 img {
    width: 100%;
  }
}

@media (max-width: 451px) {
  .containerSobremi_1 .photo_3 img {
    width: 93%;
    /* height: 300px; */
  }
}

/* 
@media (max-width: 400px) {
  .containerSobremi_1 .photo_3 img {
    height: 220px;
  }
} */