
.AboutMe{
    background-color: white;
}

.Contenido{
    display: flex;
    flex-direction: column;
}

.Contenido > div{
    flex: 1;
    padding: 2vw;
}


.AboutMe .title1 {
    font-size: 2.5vw;
    padding: 0 2vw;
    line-height: 120%;
    text-align: center;
    margin-top: 80px;
}


.containerSobremi_1{
    display: flex;
    justify-content: center;
}

.containerSobremi_2{
    display: flex;
    justify-content: center;
}

.photo_1{
    width: 22vw;
    display: flex;
    margin-left: 60px;
}

.photo_2{
    display: flex;
    justify-content: end;
    margin-right: 80px;
}
.infoSobremi_1{
    width: 50vw;
    background-color: #cf1348;
    padding: 2vw;
    color: white;
    font-size: 1.3vw;
}
.infoSobremi_2{
    width: 50vw;
    background-color: #cf1348;
    padding: 2vw;
    color: white;
    font-size: 1.4vw;
}

.containerSobremi_1 .photo_1 img{
    width: 90%;
}
.containerSobremi_2 .photo_2 img{
    width: 100%;
}

@media (max-width: 780px){


    .containerSobremi_1{
        display: flex;
        justify-content: center;
    }
    
    .containerSobremi_2{
        display: flex;
        justify-content: center;
    }
    
    .photo_1{
        display: flex;
        margin-left: 10px;
        width: 30vw;
    }
    
    .photo_2{
        display: flex;
        justify-content: end;
        margin-right: 5px;
    }
    .infoSobremi_1{
        width: 70vw;
        background-color: #cf1348;
        padding: 2vw;
        color: white;
        font-size: 1.6vw;
    }
    .infoSobremi_2{
        width: 70vw;
        background-color: #cf1348;
        padding: 2vw;
        color: white;
        font-size: 1.6vw;
    }
    
    .containerSobremi_1 .photo_1 img{
        width: 90%;
    }
    .containerSobremi_2 .photo_2 img{
        width: 90%;
    }
}

@media (max-width: 450px){
    
    .AboutMe .title1 {
        font-size: 5vw;
        margin-top: 40px;
    }

    .Contenido .ctLeft p{
        font-size: 4.5vw;
    }
    .Contenido > div.ctRight img{
        width: 90%;
    }



.containerSobremi_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.containerSobremi_2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.photo_1{
    display: flex;
    width: 94vw;
    margin: 5px 0 ;
    flex-direction: column;
    
}

.photo_2{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.infoSobremi_1{
    width: 90vw;
    background-color: #cf1348;
    padding: 2vw;
    color: white;
    font-size: 3.3vw;
}
.infoSobremi_2{
    width: 90vw;
    background-color: #cf1348;
    padding: 2vw;
    color: white;
    font-size: 3.3vw;
}

.containerSobremi_1 .photo_1 img{
    width: 100%;
    height: 100%;
}
.containerSobremi_2 .photo_2 img{
    width: 100%;
}
}