* {
  border: none;
  background-color: transparent;
}

.Searchbar {
  width: max-content;
  padding: 0.5rem 1rem;
  border: 1px solid #888888;
  border-radius: 100vmax;
}

.Searchbar:focus-within {
  outline: 1px solid #888888;
}

input:focus {
  outline: none;
}

button {
  color: black;
  transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

button:hover {
  color: rgb(144, 144, 144);
}
