*{
  font-family: sans-serif;
}
.ctFranja {
  background-color: #CF1348;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;

}

.Franja {
  width: 100%;
  font-size: 2.2rem;  
  padding: 3rem;
  font-weight: 600;
  background-color: #CF1348;
  padding-left: 90px;
  z-index: 11;
  /* border: 1px solid white; */
}
