.ctFranja {
  background-color: rgb(199, 0, 57);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;

}

.Franja {
  width: 78%;
  font-size: 2.2rem;  
  padding: 3rem;
  font-weight: 600;
  /* border: 1px solid white; */
}
