.NewSletter{
    /* border: 1px solid white; */
    color: white;
}

.NewSletter .ctForm{
    /* border: 1px solid white; */
    display: flex;
}

.NewSletter .ctForm input, .NewSletter .ctForm button{
    font-size: 22px;
    border-radius: 30px;
    background-color: #222222;
    color: white;
    border: 1px solid white;
    flex: 4;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
}

.NewSletter .ctForm button{
    flex: 1;
}