 .Description {
     /* border: 5px solid black; */
     padding: 60px;
     display: flex;
     flex-direction: column;
     padding-top: 100px;
     background-color: white;
 }

 .Description .ctDefault {
     /* border: 1px solid black; */
     width: 100%;
     margin-bottom: 20px;
     display: flex;
     justify-content: center;

 }

 .Description .ctCarousel{
    margin: 0vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    width: 89vw;
    /* border: 10px solid black; */
 }

 .Description .ctDefault .ctTitle {
     font-size: 1.6vw;
     width: 75vw;
     text-align: center;
     line-height: 120%;
 }

 .Description .ctDefault .ctDescription {
     font-size: 20px;
     text-align: center;
     margin-bottom: 100px;
 }



 .Description .ctDefault .ctTitle2 {
     font-size: 1.6vw;
     width: 75vw;
     text-align: center;
     line-height: 120%;
     margin-top: 50px;
     margin-bottom: 50px;
 }

.Horizonte{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    margin-bottom: 130px;
 }


 @media (max-width: 780px){
    .Description .ctDefault .ctTitle2 {
        font-size: 3vw;
    }
    .Description .ctCarousel{
        margin: 1vw;
        padding: 0px;
    }
 }

 @media (max-width: 450px){
    .Description {
        padding: 10px;
    }
    .Description .ctDefault .ctTitle {
        font-size: 5vw;
        margin-top: 30px;
        padding-bottom: 23px;
    }
    .Description .ctDefault .ctTitle2 {
        font-size: 5vw;
    }
    .Carousel .ctTextController > h2 {

        font-size: 6.5vw;

    }
    .Description .ctCarousel{
        margin: 0px;
        padding: 0px;
    }
 }