.editordeLibroFormulario{
    width: 50vw;
    height: 40vh;
    padding-top: 2vw;
    display: flex;
    gap: 1.5vw;
    overflow-x: auto;
    max-width: 80vw;
  }


@media (max-width: 780px) {
}
@media (max-width: 450px) {
  .editordeLibroFormulario{
    flex-direction: column;
  }
  
}

.cursor {
  cursor: pointer;
}